<a href="https://colab.research.google.com/github/aparna-2001/medical-insurance-charges-ML-model-2021-2025/blob/main/medical_insurance_charges_ML_model_2021_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data**



*   [Medical Insurance Charges (2021â€“2025) Enhanced](https://www.kaggle.com/datasets/ibrahimshahrukh/medical-insurance-cost-dataset-usa)

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

**Descriptive analysis**

In [60]:
medical_df = pd.read_csv('medical_insurance_2026_kaggle.csv')

In [61]:
pd.set_option('display.max_columns', None)

medical_df.head()

,record_date,year,quarter,age,age_group,sex,sex_female,bmi,bmi_category,children,smoker,smoker_flag,is_high_risk,risk_score,region,region_northeast,region_northwest,region_southeast,region_southwest,charges,monthly_premium_est,charges_per_child,insurance_tier,bmi_age_interaction
0,2024-02-01,2024,1,19,Young Adult (18-25),female,1,27.90,Overweight,0,yes,1,1,5.35,southwest,0,0,0,1,16884.92,1407.08,0.00,Platinum,530.10
1,2024-12-30,2024,4,18,Young Adult (18-25),male,0,33.77,Obese Class I,1,no,0,1,1.40,southeast,0,0,1,0,1725.55,143.80,1725.55,Bronze,607.86
2,2023-05-11,2023,2,28,Adult (26-35),male,0,33.00,Obese Class I,3,no,0,1,2.18,southeast,0,0,1,0,4449.46,370.79,1483.15,Silver,924.00
3,2024-07-18,2024,3,33,Adult (26-35),male,0,22.70,Normal Weight,0,no,0,0,1.11,northwest,0,1,0,0,21984.47,1832.04,0.00,Diamond,749.10
4,2024-02-05,2024,1,32,Adult (26-35),male,0,28.88,Overweight,0,no,0,0,1.48,northwest,0,1,0,0,3866.86,322.24,0.00,Bronze,924.16

In [62]:
medical_df.tail()

,record_date,year,quarter,age,age_group,sex,sex_female,bmi,bmi_category,children,smoker,smoker_flag,is_high_risk,risk_score,region,region_northeast,region_northwest,region_southeast,region_southwest,charges,monthly_premium_est,charges_per_child,insurance_tier,bmi_age_interaction
1332,2025-06-28,2025,2,50,Senior-Middle (46-55),male,0,30.97,Obese Class I,3,no,0,1,3.00,northwest,0,1,0,0,10600.55,883.38,3533.52,Gold,1548.50
1333,2021-04-14,2021,2,18,Young Adult (18-25),female,1,31.92,Obese Class I,0,no,0,1,1.07,northeast,1,0,0,0,2205.98,183.83,0.00,Bronze,574.56
1334,2023-11-29,2023,4,18,Young Adult (18-25),female,1,36.85,Obese Class II,0,no,0,1,1.41,southeast,0,0,1,0,1629.83,135.82,0.00,Bronze,663.30
1335,2021-07-17,2021,3,21,Young Adult (18-25),female,1,25.80,Overweight,0,no,0,0,0.79,southwest,0,0,0,1,2007.94,167.33,0.00,Bronze,541.80
1336,2025-07-28,2025,3,61,Senior (56+),female,1,29.07,Overweight,0,yes,1,1,7.25,northwest,0,1,0,0,29141.36,2428.45,0.00,Diamond,1773.27

In [63]:
medical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   record_date          1337 non-null   object
 1   year                 1337 non-null   int64
 2   quarter              1337 non-null   int64
 3   age                  1337 non-null   int64
 4   age_group            1337 non-null   object
 5   sex                  1337 non-null   object
 6   sex_female           1337 non-null   int64
 7   bmi                  1337 non-null   float64
 8   bmi_category         1337 non-null   object
 9   children             1337 non-null   int64
 10  smoker               1337 non-null   object
 11  smoker_flag          1337 non-null   int64
 12  is_high_risk         1337 non-null   int64
 13  risk_score           1337 non-null   float64
 14  region               1337 non-null   object
 15  region_northeast     1337 non-null   int64
 16  region_northwest     1337 non-null   int64
 17  region_southeast     1337 non-null   int64
 18  region_southwest     1337 non-null   int64
 19  charges              1337 non-null   float64
 20  monthly_premium_est  1337 non-null   float64
 21  charges_per_child    1337 non-null   float64
 22  insurance_tier       1337 non-null   object
 23  bmi_age_interaction  1337 non-null   float64
dtypes: float64(6), int64(11), object(7)
memory usage: 250.8+ KB

In [64]:
medical_df.shape

(1337, 24)

In [65]:
list(medical_df.columns)

['record_date',
 'year',
 'quarter',
 'age',
 'age_group',
 'sex',
 'sex_female',
 'bmi',
 'bmi_category',
 'children',
 'smoker',
 'smoker_flag',
 'is_high_risk',
 'risk_score',
 'region',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest',
 'charges',
 'monthly_premium_est',
 'charges_per_child',
 'insurance_tier',
 'bmi_age_interaction']

* categorical variables ; quarter, age_group,sex, sex_female, bmi_category, children, smoker, smoker_flag, is_high_risk, region, region_northeast, region_northwest, region_southeast, region_southwest

* gender separation ; sex_female emphasis

* children ;

In [66]:
print(medical_df['age_group'].unique(),'\n')
print(medical_df['bmi_category'].unique(),'\n')
print(medical_df['insurance_tier'].unique(),'\n')

['Young Adult (18-25)' 'Adult (26-35)' 'Senior-Middle (46-55)'
 'Middle-Aged (36-45)' 'Senior (56+)']

['Overweight' 'Obese Class I' 'Normal Weight' 'Obese Class II'
 'Obese Class III' 'Underweight']

['Platinum' 'Bronze' 'Silver' 'Diamond' 'Gold']

In [67]:
medical_df.groupby('bmi_category')['bmi'].describe()

,count,mean,std,min,25%,50%,75%,max
bmi_category,,,,,,,,
Normal Weight,225.0,22.616622,1.642304,18.50,21.50,22.900,24.040,24.98
Obese Class I,390.0,32.344026,1.429254,30.00,31.06,32.300,33.530,34.96
Obese Class II,225.0,37.182044,1.390358,35.09,35.97,37.000,38.170,39.99
Obese Class III,91.0,43.103407,2.842317,40.15,41.02,42.130,44.720,53.13
Overweight,386.0,27.602694,1.432870,25.00,26.40,27.710,28.780,29.92
Underweight,20.0,17.567500,0.608189,15.96,17.29,17.575,17.975,18.34

In [68]:

medical_df.groupby('insurance_tier')['charges'].describe()

,count,mean,std,min,25%,50%,75%,max
insurance_tier,,,,,,,,
Bronze,268.0,2477.214813,795.336783,1121.87,1766.9825,2357.60,3173.0875,3994.18
Diamond,268.0,34243.269104,9531.302576,20277.81,25040.1325,34833.76,41238.2700,63770.43
Gold,267.0,9408.550225,1172.469040,7418.52,8443.5700,9386.16,10428.9950,11396.90
Platinum,267.0,14575.956554,2633.162772,11411.68,12417.9150,13770.10,16622.1100,20234.85
Silver,267.0,5652.555993,1007.179137,4005.42,4746.6950,5488.26,6549.9750,7371.77

*ordinal encoding*

In [69]:

age_group_order = ['Young Adult (18-25)', 'Adult (26-35)','Middle-Aged (36-45)',
                  'Senior-Middle (46-55)','Senior (56+)']

bmi_category_order = ['Underweight', 'Normal Weight','Overweight', 'Obese Class I', 'Obese Class II',
                     'Obese Class III' ]

insurance_tier_order = ['Bronze' ,'Silver'  ,'Gold','Platinum','Diamond']


encoder = OrdinalEncoder(categories =[age_group_order,
                                       bmi_category_order,
                                       insurance_tier_order])

medical_df[['age_group',
            'bmi_category',
            'insurance_tier']]= encoder.fit_transform(medical_df[['age_group',
                                                                 'bmi_category',
                                                                'insurance_tier']])

In [72]:
medical_df.head()

,record_date,year,quarter,age,age_group,sex,sex_female,bmi,bmi_category,children,smoker,smoker_flag,is_high_risk,risk_score,region,region_northeast,region_northwest,region_southeast,region_southwest,charges,monthly_premium_est,charges_per_child,insurance_tier,bmi_age_interaction
0,2024-02-01,2024,1,19,0.0,female,1,27.90,2.0,0,yes,1,1,5.35,southwest,0,0,0,1,16884.92,1407.08,0.00,3.0,530.10
1,2024-12-30,2024,4,18,0.0,male,0,33.77,3.0,1,no,0,1,1.40,southeast,0,0,1,0,1725.55,143.80,1725.55,0.0,607.86
2,2023-05-11,2023,2,28,1.0,male,0,33.00,3.0,3,no,0,1,2.18,southeast,0,0,1,0,4449.46,370.79,1483.15,1.0,924.00
3,2024-07-18,2024,3,33,1.0,male,0,22.70,1.0,0,no,0,0,1.11,northwest,0,1,0,0,21984.47,1832.04,0.00,4.0,749.10
4,2024-02-05,2024,1,32,1.0,male,0,28.88,2.0,0,no,0,0,1.48,northwest,0,1,0,0,3866.86,322.24,0.00,0.0,924.16

In [73]:
x_features = medical_df.drop(columns = ['record_date', 'sex', 'smoker', 'region', 'charges_per_child', 'monthly_premium_est','charges'])
x_features.columns

Index(['year', 'quarter', 'age', 'age_group', 'sex_female', 'bmi',
       'bmi_category', 'children', 'smoker_flag', 'is_high_risk', 'risk_score',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest', 'insurance_tier', 'bmi_age_interaction'],
      dtype='object')

**selecting independent and dependent variables(or variables)**